<%= render 'layouts/shared/error', obj: @user %>
<% if flash[:failure] %>
    <p class="failure"><%= flash[:failure] %></p>
  <% end %>
<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class="">
          <%= link_to("アカウント", "/users/acount") %>
        </li>
        <li class="active">
          <%= link_to("プロフィール", "/users/profile") %>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 user-nav user-nav-mobile d-lg-none">
      <ul>
        <li class="">
          <%= link_to("アカウント", "/users/acount") %>
        </li>
        <li class="active">
          <%= link_to("プロフィール", "/users/profile") %>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>
        <%= form_tag("/users/renewal", {method: :patch, multipart: true}) do %>
          <div class="update-content">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="icon-box">
                  <% if @user.image_name? %>
                  <%= image_tag @user.image_name.url, class: "icon-image host-icon" %>
                  <% else %>
                    <img alt="アイコン画像" class="icon-image host-icon" src="<img alt="アイコン画像" class="icon-image host-icon" src="<%= @user.image_name %>">
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3 required-a" for="image">アイコン画像</label>
              <input class="mb-4 col-md-9" placeholder="アイコン画像をアップロード" type="file" name="user[image_name]" id="user_image">
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3 required-a" for="name">名前</label>
              <input class="form-control mb-4 col-md-9" placeholder="名前を入力" type="text" value="<%= @user.name %>" name="user[name]" id="user_name">
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3 required-a" for="introduction">自己紹介</label>
              <textarea rows="5" class="form-control mb-4 col-md-9" placeholder="自己紹介を入力" name="user[introduction]" id="user_introduction"><%= @user.introduction %></textarea>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <input type="submit" name="commit" value="更新" class="col-md-2 btn btn-primary mx-3" data-disable-with="更新">
            </div>
          </div>
        <% end %>            
      </div>
    </div>
  </div>
</div>